#!/bin/bash

# --all  check configuration files (normally excluded)
# --silent  only report errors
# --changed  report changed files (implies silent)
# --ignore-obsolete  ignore obsolete conffiles.

/usr/bin/debsums --all --silent --changed --ignore-obsolete
